.todo-item {
    margin: .3rem;
    padding: .5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 0;
}
