@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Montserrat:wght@400&display=swap');

html, body {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Assistant', sans-serif;
}

.App {
    height: 100vh;
    width: 100%;
    margin: .5rem auto;
    color: #222222;
}

.todos {
    background-color: rgb(243, 244, 245);
}
